.breadcrumb-item a {
    color: rgb(6, 44, 126);
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 42px;
}

.breadcrumb-item a:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(19, 19, 19);
}

.border-navigation {
    border-bottom: 8px solid rgba(128, 128, 128, 0.3);
    padding: 24px 0;
}

.about-section {
    padding: 52px 0;
}

.about-heading {
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 38px;
}

.about-paragraph {
    margin-bottom: 22px;
    text-align: justify;
}

.pad-lft-48 {
    padding-left: 48px;
}