/* mobile or small device */
@media (min-width: 320px) and (max-width: 500px) {
    .sec-2-bgimg {
        position: static;
        overflow: visible;
    }

    img.img-bg-3cars {
        position: static;
        width: 90%;
        top: 0;
        left: 0;
        margin: auto;
        display: none;
    }

    img.tog-img {
        display: block;
    }
}

/* tab or ipad device */
@media (min-width: 501px) and (max-width: 768px) {
    .sec-2-bgimg {
        position: static;
        overflow: visible;
    }

    img.img-bg-3cars {
        position: static;
        width: 90%;
        top: 0;
        left: 0;
        margin: auto;
        display: none;
    }

    img.tog-img {
        display: block;
    }
}

/* desktop or large device */
@media (min-width: 769px) and (max-width: 1200px) {}